cpp/bin

ise/work/
ise/iseconfig/
ise/tmp/
ise/_xmsgs/
ise/doc/
ise/example_design/
ise/implement/
ise/simulation/
ise/*.log
ise/*.tcl
ise/*.txt
ise/*.gise
ise/*.cgc
ise/*.cgp
ise/*.ncf
ise/*.asy
ise/*.sym
ise/*.veo
ise/*.vho
ise/*.html
ise/*.xml
ise/*.xsl
ise/*.svf
ise/*.xsvf
ise/*.xwbt
ise/*.cfi
ise/*.prm
