NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;
NET "clk" LOC = K3 | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = N9 | IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = M9 | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = P9 | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = N8 | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "led<7>" LOC = P7 | IOSTANDARD = LVCMOS33;

NET "rx" LOC = M7 | IOSTANDARD = LVCMOS33;
NET "tx" LOC = N6 | IOSTANDARD = LVCMOS33;
